#container {
    background-color: rgb(130, 141, 127);
    border-radius: 8px; 
    margin-top: 19px;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0; 
}
li{
    display: inline-block;
    margin: 5px 25px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
/* h1{
    margin-top: 200px;
    text-align: center;
    color:white;
    font-family: monospace;
    font-size: bold;
    font-size: 50px;
    text-decoration: underline;
    
} */
body{
    /* background-color: rgb(38, 39, 43); */
    background: url('https://source.unsplash.com/collection/190727/1600x900')no-repeat center center/cover;
    color: white;
}
img{
    margin: 94px 36px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* 
header::before{

    background: url('https://source.unsplash.com/collection/190727/1600x900')no-repeat center center/cover;
    content: "";
    position: fixed ;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
} */





